.Person {
  width: 60%;
  margin: 16px auto;
  padding: 16px;
  background-color: #669999;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  cursor: pointer;
}

.Person:hover {
  background-color: #407F7F;
}

@media (min-width: 600px) {
  .Person {
      width: 450px;
  }
}
